@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html, body, * {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}  

body{
    background-color: #212530;
    background-image: url(images/ellipse-bg.png);
    background-repeat: no-repeat;
    font-family: Roboto, 'sans-serif';
    background-position: 590px;
    height: 500px;
    background-size: cover;
    
}

.container{
    max-width: 1028px;
    margin: 0 auto;
}

header{
    background-color: #161920;
}

.header .navbar{
    display: flex;
    justify-content: space-between;
    padding: 35px 23px;
}

.navbar .navlinks{
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.navlinks .navlink{
    margin-right: 48px;
}

.navlinks .navlink-item{
    text-decoration: none;
    color: white;
    opacity: 0.6;
}

.navlinks .active{
    color: white;
    opacity: 1;
}

.navlinks .navlink-item:hover{
    text-decoration: underline;
    text-decoration-color: blue;
}    

.navbar .navicon{
    margin-right: 20px;
    color: white;
}

.nav-icons .fa-shopping-bag{
    position: relative;
}

.nav-icons .fa-shopping-bag::after{
    content: "";
    height: 7px;
    width: 7px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: -2px;
    right: 0.2px;
}

.bodysection{
    display: flex;
}

.bodytext{
    position: relative;
    justify-content: flex-start;
    color: white;
    font-family: Roboto, 'sans-serif';
    padding: 70px 50px; 
    width: 50%;
}

.text .title{
    font-weight: 300;
    font-size: 50px;
}

.title .makered{
    color: red;
}

.text .summary{
    font-family: Roboto, sans-serif;
    font-weight: 200;
    opacity: 0.5;
    font-size: 14px;
    line-height: 24px;
}

.button{
    position: absolute;
    padding: 20px 5px 20px 1px;
    font-family: Roboto 'sans-serif';
    color: red;
    font-size: 14px;
    border: 1px solid #E42C47;
}

.bodytext .gamepads{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 65px 20px 20px 1px;
}

.bodyimages{
    position: relative;
    width: 50%;
}

.redcard{
    position: absolute;
    bottom: 60px;
    left: -20px; 
    transform: rotate(1deg);
    border-radius: 15px;
}

.gamepadblue{
    position: absolute;
    top: 60px;
    left: -40px;   
}

.gamepadwhite{
    position: absolute;
    bottom: 60px;
    right: 100px;   
}

.contact .contactlinks{
    list-style: none;
    display: flex;
    opacity: 0.5;
    justify-content: space-between;
    position: relative;
    top: -40px;
    width: 50%;
    margin-left: 40px;
}

.contactlinks .contact1{
    justify-content: flex-start;
    padding: 5px 100px 100px 1px;
    text-decoration: none;
    font-family: Roboto 'sans-serif';
    color: #FFFFFF;
    font-size: 10px;
}

.contactlinks .contact1:hover{
    text-decoration: underline;
    text-decoration-color: blue;
}
